{
  "extends": [
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
  ],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": "error",
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
  },
  "settings": {
    "import/extensions": [".js"],
    "import/resolver": {
      "node": {
        "extensions": [".js"],
      },
    },
  },
  "env": {
    "es6": true,
    "node": true,
  },
  "ignorePatterns": ["node_modules"],
  "overrides": [
    {
      "files": ["*.test.js"],
      "env": {
        "jest": true,
      },
    },
  ],
}
